[github]
    user = aouelete

[user]
	name = Aaron Ouellette
	email = aouellette2016@gmail.com

[credential]
	helper = cache --timeout=3600

[push]
	default = simple

[color]
    ui = auto

[help]
    autocorrect = 10

[alias]
    ls = ls-files
    lg = log --graph --color --oneline
    st = status -sb
    com = commit
    chout = checkout
    unstage = reset HEAD --
    last = show -1
    cached = diff --cached
    pop = stash pop

[sendemail]
    smtpEncryption = tls
    smtpServer = smtp.gmail.com
    smtpUser = aouellette2016@gmail.com
    smtpServerPort = 587

[merge]
    tool = vimdiff2

